<body>
    <header>
        <h1 class="header-logo"><a href="#">Chronicle</a></h1>
    </header>
    <main>
        <div class="top-page">
            <%# <video src="/aseets/videos/video.mp4" autoplay muted loop class="main-video"></video> %>
            <%= video_tag "/videos/video.mp4", autoplay: :true, loop: :true, muted: :true, class:"main-video" %>
            <form class="signup-form">
                <h2>Sign up</h2>
                <label for="nickname">●nicknameを入力</label>
                <input type="text" id="nickname" name="nickname">
                <label for="password">●passwordを入力</label>
                <input type="text" id="password" name="password">
                <input type="submit" value="sign in" id="submit-btn">
            </form>
        </div>
    </main>
    <footer>
        <ul class="footer-list">
            <li><a href="#">テキスト</a></li>
            <li><a href="#">テキスト</a></li>
            <li><a href="#">テキスト</a></li>
        </ul>
        <div class="copy-light">
            <p>&copy;Chronicle</p>
        </div>
    </footer>     
</body>
